
@import "./utilities/variable";

.headerTop{
    padding:30px 0 16px;
    position: relative;
}
.fullwidth{
    width:100%;
    float: left;
}
.wrapper::before{
    display:table;
    content:"";

}
.navToggle{
    float: left;
    display: none;
    width: 27px;
    height: 27px;
    margin: 23px 13px 0 0;
    cursor: pointer;
}
.navToggle span{
    background:$primary-color;
    width: 100%;
    height: 5px;
    margin: 2px 0;
    float: left;
    border-radius: 5px;
}
.logo{
    float: left;
    margin: 0 1.7% 0 0;
    width: 24%;
}
.contact-head{
    
}
