
$primary-color:rgba(55, 0, 115, 1);
$secondary-color:#c2057D;


$textcolor:#613F99;
$font: 'Roboto sans-serif';

//round
$round-font-title:24px;
$round-font-image-title:14px;
$round-font-image-price:15px;
$round-font-image-MRP:12px;

//footer
$gray-darker:#444444;
$gray-dark:#696969;
$gray:#999999;
$gray-light:#cccccc;
$gray-lighter:#ececec;
$gray-lightest: lighten($gray-lighter,4%);
