{% include 'dash-top.njk'%}
<header class="site-header">
<div class="container-fluid">
    <div class="headerTop main-header fullwidth">
        <div class="wrapper">
    
            <div class="navToggle">
                <span></sapn>
                <span></span>
                <span></span>
            
            </div>
            <div class="logo-img">
                <a href="http://www.sastodeal.com/" class="logo floatleft">
                    <img src="https://www.sastodeal.com/0/media/css/frontend/images/logo.png" alt="logo" title="Sastodeal">
                </a> 
            </div>
            <div class="contact-head floatright ">
                <ul class="check-content">
                    <li> <span>Call Us </span></li>
                </ul>
            </div>
            

            

        </div>
    </div>   

        
{% include 'dash-bottom.njk'%}